.message{
    padding: 10px;
    border-radius: 1px;
    margin-bottom: 4px;
    font-family: Georgia;
    color:blueviolet;
    white-space: pre-wrap;
}
.mymsg{
    background:  red;
    color: yellow;
    font-family: Georgia;

}
.MsgBox{
    width: 100%;
    height: 70px;
    border-radius: 10px;
    background: linear-gradient(to bottom, white 0%, #ff99cc 86%);
    margin-left: 10%;
    font-family: Bodoni MTBodoni MT;
    font-size: 40px;
}
.msgButt{
    color:red;
    height: 60px;

  
}