<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
    <ion-center style="color: aqua; margin-left: 45%; font-style: oblique; font-size: 50px;font-family: Georgia"> Gallery</ion-center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

  <div class="card">
      <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:20%; border-radius:50px">
      
      <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:1%; border-radius:50px">
      
      <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:1%; border-radius:50px">
      <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:1%; border-radius:50px">
      
      <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:1%; border-radius:50px">
  </div>
      <div class="card">
          <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:20%; border-radius:50px">
          
          <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:1%; border-radius:50px">
          
          <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:1%; border-radius:50px">
          <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:1%; border-radius:50px">
          
          <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:1%; border-radius:50px">
          

  </div>
  <div class="card">
      <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:20%; border-radius:50px">
      
      <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:1%; border-radius:50px">
      
      <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:1%; border-radius:50px">
      <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:1%; border-radius:50px">
      
      <img src="https://i.pinimg.com/originals/1c/4b/ea/1c4bea0d8704c7eb3d6b09b7091d3761.png" style="width:10%;margin-top: 2%; margin-left:1%; border-radius:50px">

</div>
</ion-content>
