<ion-header >
  <ion-toolbar>
    <ion-title>
        <ion-center style="color: aqua; margin-left: 45%; font-style: oblique; font-size: 50px;font-family: Georgia"> Profile</ion-center>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="false">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Profile</ion-title>
    </ion-toolbar>
  </ion-header>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="card">
  <img src="https://scontent.fdvo1-1.fna.fbcdn.net/v/t1.0-9/127114796_2836995029956150_4875827405928986078_o.jpg?_nc_cat=107&ccb=1-3&_nc_sid=174925&_nc_eui2=AeHlVMeJsr0sG3M6VavH8ZDggxAqJC4k6ZSDECokLiTplM4gGVGE1lrpF9386QNzYd-Ogs-0CulyaSUVlR35aRX0&_nc_ohc=AZnKQGt-6OcAX8zLu5Q&_nc_ht=scontent.fdvo1-1.fna&oh=4655864179a2d64f81e80d3fc05ec900&oe=607670A5"  style="width:15%;margin-top: 1%; margin-left:43%;border-radius: 10%; border:10%;border-color:blue">
  <h1 style="margin-top:1%;margin-left: 39%;font-size: 40px;font-family:Georgia">Rizalyn Carolino</h1>
  <p class="title" style="margin-top:2%;margin-left: 46%;font-size: 20px; font-family:Georgia">IT Student</p>
  <p style="margin-left: 35%;font-size: 20px; font-family:Georgia">Studied at Eastern Visayas State University Carigara, Campus</p>
  <p style="margin-left: 35%;font-size: 20px; font-family:Georgia">Lives in Barugo,Leyte</p>
  <p style="margin-left: 35%;font-size: 20px; font-family:Georgia">From Irosin,Sorsogon</p>
  
  
</div>

  


 
</ion-content>

